<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <form action="" method="post">
        <table>
            <tr>
                <td><label for="Name">Name</label></td>
                <td><input type="text" name="Name" placeholder="Enter Your Name"></td>
            </tr>
            <tr>
                <td><label for="Fund_code">Fund Code</label></td>
                <td><input type="number" name="Fund_code" placeholder="Enter Fund Code"></td>
            </tr>
            <tr>
                <td><label for="Invested_amount">Invested Amount</label></td>
                <td><input type="number" name="Invested_amount" placeholder="Enter Invested Amount"></td>
            </tr>
            <tr>
                <td><label for="Units_held">Units Held</label></td>
                <td><input type="number" name="Units_held" placeholder="Enter Your Units Held"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>